.content-layout {
    height: 100%;
}
.content-layout-header {
    background-color: #ffffff;
    padding: 12px 16px;
    .header-title {
        padding-top: 8px;
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: rgba(0,0,0,.85);
    }
}